// Define theme specific colors here.
$color__blue-dk: #0f2144;
$color__yellow: #ffb71b;
$color__text-main: #000;
$color__link: #00698c;
$color__white: #fff;
$color__not-white: #f1f1f1;
$color__gray-lt: #ccc;
$color__gray-md: #666;
$color__gray-dk: #333;
