@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font__header: 'Open Sans', sans-serif;
$font__main: 'Sofia', sans-serif;
$font__headings: 'Pluto Sans', sans-serif;
$font__secondary: 'Source Sans', sans-serif;
$font__code: monaco, consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
